# Prefix
/fig*
old*
/output*/*/output*
/output*/output*
/output_nuwro*
/output_genie*
/output_neut*
sim_out*
bin/*
obj/*
lib/*
!.gitignore
log*

# Suffix
#*.root
*.Linux
*.o
*.a
*.so

#special file
cs??????
tr??????
ecis.invin
ecisinv.inp
