!.gitignore
# Prefix
old*
bin/*
obj/*
lib/*
sim_out_*
log*
fig
fig_2*
fig_neut*
fig_nuwro*
fig_genie*
fig_comparison*
fig_sim_*
fig_paper*

# Suffix
#*.root
*.Linux
*.o
*.a
*.so

#special file
/output*/*/output*
/output*/output*
/output*/*/energy*
/output*/energy*
/output_nuwro*
/output_genie*
/output_neut*
cs??????
tr??????
ecis.invin
ecisinv.inp
# for geant4
/CMakeLists.txt
/GNUmakefile
/sources.cmake
